@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Light.ttf') format('ttf'),
       url('../font/Roboto-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


.App {
  font-family: 'Roboto', sans-serif;
  background-color: #0079BF;
  height: 100%;
}

